name: Update EPG

on:
  schedule:
    - cron: '0 */6 * * *'  # Every 6 hours
  workflow_dispatch:  # Allow manual trigger

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          
      - name: Install dependencies
        run: npm install
        
      - name: Run EPG grab
        run: npm run grab -- --channels=custom/channels.xml --output=custom/guide.xml --maxConnections=2  --timeout=2000  --days=3 --gzip
        
      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add custom/guide.xml
          git diff --staged --quiet || git commit -m "chore: update EPG guide"
          git push
